'''Current image: [ {filename_base}]'''

* Based on {based_on}
* {kernel} kernel
* Configured for Pi Zero
* Hostname: '''{hostname}'''
* Login: '''{username}''', password: '''{password}'''

<nowiki>
SHA1:
{image_filename}: {image_sha1}
{zip_filename}: {zip_sha1}
</nowiki>
